@import url("https://fonts.googleapis.com/css2?family=Anton&family=Oswald&display=swap");

html,
body {
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
}
.wrapper {
  max-width: 120rem;
  min-width: 80rem;
  margin: auto;
  background-color: #c6dced;
}
